img{
    float: left;
 width: 150px;
 height: 55px;
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(64, 134, 224, 0.986);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white ;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover{
    background-color: burlywood;
}
.navbar li{
    float: left;
}
.btn{
    float: right;
}
form {
    width: 300px;
    margin: auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  input[type="radio"] {
    margin-left: 5px;
    margin-right: 15px;
}
  input, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}